nav {
  background-color: pink;
  color: white;
}

.navbar {
  background-color: #2e3587 !important;
}

/** A few extra styling */
.blue-bg{
   background-color: #2e3587; 
}

.yellow-bg{
    background-color: #eeda73;
}
.yellow-txt{
    color: #eeda73;
}

.white-txt{
    color: white;
}

.black-txt{
    color: black;
}

.font-lato{
    font-family: "Lato", sans-serif;
}

.content{
    height: 100vh;
    bottom: 0;
    top: 0;
    font-family: "Lato", sans-serif;
}
/***************************/

.nav-item {
  color: white !important;
  font-family: "Lato", sans-serif;
  
}

.abt {
  width: 75%;
}

.navbar-toggler {
  color: white;
}

.btn {
  margin: 5px;
}

.py-3 {
  background-color: black !important;
  font-family: "Lato", sans-serif;
}

.footer {
  font-family: "Lato", sans-serif;
}

/* Geocoder */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.geocoder-body {
  background-color: white !important;
}

.geocoder {
  width: 100%;
  max-width: 600px;
  margin: 10vh auto;
}

.geocoder__header {
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 500px, 0);
  transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
  animation: arrive 500ms ease-in-out 0.7s forwards;
  font-family: "Lato", sans-serif;
}

.geocoder__icon {
  font-size: 300%;
  text-align: center;
}

.geocoder__title {
  font-size: 300%;
  margin-bottom: -10px;
  font-weight: 500;
  color: black;
  font-family: "Lato", sans-serif;
}

.geocoder__description {
  font-size: 20px;
  
}

.inputSearch {
  margin: 5px;
  border-radius: 10px;  
  display: block;
  width: 100%;
  padding: 20px;
  color: black;
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #eeda73;
  text-align: center;
}

.inputSearch:focus {
  outline-style: none;
  text-align: center;
  color: black;
}

.form {
  color: black;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.font-weight-normal {
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: "Lato", sans-serif;

}

/* Date */

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1
}

input::-webkit-calendar-picker-indicator:hover {
  background: transparent;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -16px;
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-512.png) no-repeat;
}

.date {
  position: relative;
  width: 156px;
  overflow: auto;
  margin: 30px auto;
  font-family: "Lato", sans-serif;
}

input {
  width: 155px;
  padding: 5px;
  height: 24px;
  display: block;
}

/** Send Button **/

.send-btn {
  display: inline-block;
  text-align: cetner;
  margin: 4px 2px;
  width: 250px;
  cursor: pointer;
  height: 50px;
  padding: 15px;
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
  text-decoration: white;
  outline: 0;
  border: 0;
  color: black;
  background: #eeda73;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
}

.send-btn:hover {
  background: #eeda73;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}