body {
  margin-top: 15px;
}

#map-example-container {
  height: 300px;
}

div {
  color: black;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.panel-heading {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.panel-panel-primary {
  background-color: white;
  border-color: black;
}