html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeda73 !important;
  text-align: center;
  color: black;
}

.title {
  color: black;
  font-style: bold;
  font-size: 400%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.description {
  font-size: 130%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.point {
  font-size: 50%;
}

.question {
  font-size: 150%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.mission {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.image {
  text-align: center;
  background-attachment: fixed;
}
.headline {
  top: 10vh;
}

.btn-primary {
  background-color: black;
  color: white;
}

nav {
  background-color: black;
  color: white;
}

.navbar {
  background-color: #2e3587 !important;
}

.nav-item {
  color: #white !important;
  font-family: "Lato", sans-serif;
}

.abt {
  width: 75%;
}

.navbar-toggler {
  color: white;
}

.btn {
  margin: 5px;
}

.py-3 {
  background-color: #2e3587 !important;
  font-family: "Lato", sans-serif;
}

.footer {
  font-family: "Lato", sans-serif;
}
