html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeda73 !important;
  text-align: center;
  color: black;
}

.title {
  color: black;
  font-style: bold;
  font-size: 400%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.default-font{
  font-family: "Lato", sans-serif; 
}

.description {
  font-size: 130%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.point {
  font-size: 50%;
}

.question {
  font-size: 150%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.mission {
  font-size: 80%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.image {
  text-align: center;
}

.headline {
  top: 10vh;
}

.btn-primary {
  background-color: black;
  color: white;
}

nav {
  background-color: black;
  color: white;
}


.nav-item {
  color: white !important;
  font-family: "Lato", sans-serif;
}

.abt {
  width: 75%;
}

.navbar-toggler {
  color: white;
}

.btn {
  margin: 5px;
}

.btn.btn-primary {
  display: inline-block;
  text-align: cetner;
  margin: 4px 2px;
  width: 250px;
  cursor: pointer;
  height: 50px;
  padding: 15px;
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
  text-decoration: white;
  outline: 0;
  border: 0;
  color: white;
  background: #343a40;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn.btn-primary:hoover {
  background: black;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.py-3 {
  background-color: #2e3587 !important;
  font-family: "Lato", sans-serif;
}

.footer {
  font-family: "Lato", sans-serif;
  border-top: solid, 1px, #2e3587;
}


/** A few extra styling */
.full-height{
    height: 100vh;
}

.height-90{
    height: 90vh;
}

.height-10{
    height: 10vh;
}

.decoration-off{
    text-decoration: none;
}

.blue-bg{
   background-color: #2e3587; 
}

.yellow-bg{
    background-color: #eeda73;
}
.yellow-txt{
    color: #eeda73;
}

.white-txt{
    color: white;
}

.black-txt{
    color: black;
}

.font-lato{
    font-family: "Lato", sans-serif !important;
}

.content{
    height: 100vh;
    bottom: 0;
    top: 0;
    font-family: "Lato", sans-serif;
}

.top-margin{
    margin-top: 10vh;
}

.top-padding{
    padding-top: 10vh;
}

a:hover{
    color: #eeda73;
}

/******************************* */






@-webkit-keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
